<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Home Page</title>
    </head>
    <body>
        <form method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('pin_create') }}" />
            <div>
                <label for="title">Titre</label><br>
                <input type="text" name="title" id="title"/>
            </diV>
            <div>
                <label for="description">Description</label><br>
                <textarea name="description" id="description" rows="5" cols="60"> </textarea>
            </diV>
            <input type="submit" value="Create pin" />
        </form>
    </body>
</html>