<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Create Pin</title>
    </head>
    <body>
        <h1>Create Pin</h1>
        {{form_start(form)}}
            {{ form_widget(form) }}
            <input type="submit" value="Create Ping"/>
        {{form_start(form)}}
    </body>
</html>