<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Ping</title>
    </head>
    <body>
        <a href="{{path('app_pins_create')}}" >Create Pin</a>
        {% for pin in pins %}

            <article>
                <h1>{{ pin.title }} </h1>
                <p> {{ pin.description  }} </p>
            </article>
        {% endfor %}
    </body>
</html>