<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Ping</title>
    </head>
    <body>
        <h1> {{ pin.title }} </h1>
        <p> {{ pin.description  }} </p>
        <a href="{{path('app_home')}}">Back</a>
    </body>
</html>